@import '../../Styles.scss';

.topbar {
  height: 50px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 0 10px;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  z-index: 999;
  background-color: white;

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    font-family: 'Lexend', sans-serif;

    &:hover {
      cursor: pointer;
    }

    span {
      color: rebeccapurple;
      font-size: 16px;
      font-weight: 600;
    }
    .logo {
      color: rebeccapurple;
    }
  }

  .right {
    flex: 9;
    display: flex;

    .rightLinks {
      flex: 6;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      font-size: 16px;
      font-family: 'Lexend', sans-serif;
      font-weight: 500;

      span {
        color: #666;
        padding-bottom: 5px;

        &:hover {
          cursor: pointer;
          border: none;
          border-bottom: 2px solid rebeccapurple;
          color: rebeccapurple;
        }

        @include mobile {
          color: white;
          &:hover {
            color: #fff;
          }
        }
        @include tablet {
          color: white;
          &:hover {
            color: #fff;
          }
        }
      }

      @include mobile {
        gap: 25px;
      }
      @include tablet {
        gap: 25px;
      }
    }

    .rightUser {
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 12px;
      font-family: 'Lexend', sans-serif;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;

        &:hover {
          cursor: pointer;
        }
      }
      span {
        @include mobile {
          color: yellow;
        }
        @include tablet {
          color: yellow;
        }
      }

      button {
        cursor: pointer;
        padding: 4px 8px;
        color: rebeccapurple;
        background-color: transparent;
        border: 1px solid rebeccapurple;
        border-radius: 4px;
        font-size: 16px;
        font-family: 'Lexend', sans-serif;
        transition: all ease-in-out 0.25s;
        font-weight: 500;

        &:hover {
          background-color: rebeccapurple;
          color: white;
          border-radius: 5px;
        }

        @include mobile {
          border: 1px solid white;
          color: white;
        }
        @include tablet {
          border: 1px solid white;
          color: white;
        }
      }

      @include mobile {
        gap: 20px;
      }
      @include tablet {
        gap: 20px;
      }
    }

    @include mobile {
      // display: none;
      position: fixed;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      background-color: white;
      transition: 0.6s;

      top: 60px;
      right: -300px;
      width: 300px;
      height: 100vh;
      background-color: rebeccapurple;

      &.active {
        right: 0;
      }

      .rightLinks {
        flex: 0;
        flex-direction: column;
      }
      .rightUser {
        flex: 0;
        flex-direction: column;
      }
    }
    @include tablet {
      // display: none;
      position: fixed;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      background-color: white;
      transition: 0.6s;

      top: 60px;
      right: -300px;
      width: 300px;
      height: 100vh;
      background-color: rebeccapurple;

      &.active {
        right: 0;
      }

      .rightLinks {
        flex: 0;
        flex-direction: column;
      }
      .rightUser {
        flex: 0;
        flex-direction: column;
      }
    }
  }
  .nav-btn {
    display: none;
    cursor: pointer;
    color: rebeccapurple;

    @include mobile {
      display: inline;
    }
    @include tablet {
      display: inline;
    }
  }
}
